.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18.5px 35.5px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 60px;
}

.text-center {
    text-align: center;
}

.item-title {
    color: #757575;
}

/* header */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top 25px left 45px, bottom right;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 51px;
}

.dark-2 {
    color: #474747;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    justify-content: space-between;
    margin-left: 180px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 17px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    font-weight: normal;
    font-size: 18px;
    color: #757575;
}

.banner-pic {
    width: 580px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-top: 130px; */
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: bold;
}

.opp {
    background-color: white;
    padding: 20px;
    border: 2px solid;
}

/* skills section styles */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* resume section style */
.resume-container {
    display: flex;
    gap: 24px;
}

.experience-description {
    color: #757575;
}

.experience-sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto;
}

.btn-primary {
    margin-top: 30px;
    cursor: pointer;
}

/* footer section styles */
footer {
    padding: 130px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 65px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}

.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .skills-container, .resume-container, footer, .about-items{
        flex-direction: column;
    }
    footer, .about{
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"],
footer input[type="email"],
footer textarea{
    width: calc((100% - 40px)/2);
}
}

/* @media screen and (max-width: 576px) {
    .skills-container{
        background-color: red;
    }
} */