.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18.5px 35.5px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

/* header */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 51px;
}

.dark-2 {
    color: #474747;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    justify-content: space-between;
    
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 17px;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-weight: normal;
    font-size: 18px;
    color: #757575;
}
.banner-pic{
width: 580px;
}